.contenido {
  display: flex;
  flex-direction: column;
  justify-content: center;

  background-color: #f5f5f5;
  padding: 2rem;
  height: 100vh;
  width: 100vw;
}
.titulo {
  color: #000000;
}
.hr {
  width: 50%;
  border: 1px solid #000000;
}

.formulario {
  padding: 2rem;
  background: #005b99;
  background: linear-gradient(90deg, #005b99 0%, #4e88ca 88%, #588cc7 100%);
  text-align: center;
  color: #ffffff;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.listadoFormulario {
  display: flex;
  width: 100%;
  gap: 4rem;
}

.listado {
  width: 50%;
  text-align: center;
}
